/tmp
*.log

# Build output directies #
##########################
/target
*/target
/build
*/build
/bin
/project/project

# Play framwork management #
############################
sbt*.tgz
sbt*.tgz.md5
sbt-launcher*

# Editor Files #
################
*~
*.swp

# IntelliJ specific files/directories #
#######################################
out
.idea
*.ipr
*.iws
*.iml

# Eclipse specific files/directories #
######################################
.classpath
.project
.settings
.metadata

